<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf8" />
    <title>{{ .Meta.Title }} - {{ .Site.Name }}</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ if .Meta.Description }}
    <meta name="description" content="{{ .Meta.Description }}" />
    {{ end }}
    {{ if .Meta.Keywords }}
    <meta name="keywords" content="{{ join .Meta.Keywords "," }}" />
    {{ end }}
    {{ if not .IsVisible}}
    <meta name="robots" content="noindex" />
    <meta name="yandex" content="noindex, nofollow" />
    {{ end }}
    {{ template "partials/head_resourses" . }}
</head>

<body>
    <div class="site-content">
        {{ template "partials/header" }}
        <article>
            <h1 class="article-title">{{ .Meta.Title }}</h1>
            {{ if .Meta.Description }}
            <p class="article-subtitle">{{ .Meta.Description }}</p>
            {{ end }}
            <hr>
            {{ .Content }}
        </article>
        {{ template "partials/footer" }}
    </div>
</body>

</html>