<footer>
    <p>Сайт atdd.ru — блог о разработке через тестирование.</p>
    <div class="footer-copyright">
        <p>&copy; Шамбир С.В., 2025. Все права защищены, за исключением перечисленного ниже:</p>
        <ul>
            <li>Содержимое статей, включая иллюстрации, допускается использовать на правах <a rel="license" title="CC BY Attribution 4.0 International" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></li>
            <li>Исходный код на сайте допускается использовать на правах <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0</a></li>
        </ul>
    </div>
    <div class="footer-contacts">
        <p>Контакты:</p>
        <ul>
            <li><a href="https://github.com/sergey-shambir"><img class="icon" alt="github-logo" src="/img/icons/github.svg" width="16px" height="16px" loading="lazy"></img>sergey-shambir</a></li>
            <li><a href="https://t.me/sergey_shambir"><img class="icon" alt="telegram-logo" src="/img/icons/telegram.svg" width="16px" height="16px" loading="lazy"></img>sergey_shambir</a></li>
        </ul>
    </div>
</footer>